NEXTAUTH_URL=https://oauth.fgvideoschool.com
NEXTAUTH_SECRET=change-me

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

NEXTAUTH_VAULT_CALLBACK_URL=https://api.fgvideoschool.com/oauth/callback
NEXTAUTH_CALLBACK_SECRET=
NEXTAUTH_SIGNATURE_SECRET=
